$('#contact_message').html("  <div class='col-md-12 text-uppercase' style='text-align:center; border:1px solid white;'><h2>留言已送出</h2><h2>我們會盡快回覆</h2><a href='/' style='color:white; text-decoration:overline;'><h2>     點我返回     </h2></a></div>")
