@import "bootstrap-sprockets";
@import "bootstrap";
@import "templatemo-style";
@import "animate.min";
@import "bootstrap-theme";
@import "style";
@import "style-responsive";
@import "http://fonts.googleapis.com/css?family=Noto-Sans-CJK-TC";
@import "map";

.row{
  .wow  {
    h2{
      padding: 18% 5px;
      }
    .img-responsive{
      height:500px;
      width:auto;
    }
  }
}


